---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const allPosts = await Astro.glob("../pages/posts/*.mdx");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col border-2 w-9/12 sm:w-11/12 p-10 rounded-xl">
    <div class="font-pixelify text-xl m-auto text-center">
      <p><em>{frontmatter.description}</em></p>
      <p>{frontmatter.pubDate.slice(0,10)}</p>
      <p>Written by: {frontmatter.author}</p>
    </div>
    <div class="tags m-auto">
      {frontmatter.tags.map((tag: any) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <div class="mdx-content flex flex-col font-pixelify gap-2 text-left">
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  
  .mdx-content :global(h1) {
    font-size: 2.0em;
    font-weight: 900;
    font-weight: 700;
    margin: 0.5em 0;
    text-align: center;
    color: #FAA2F9;
  }

  .mdx-content :global(p) {
    font-size: 1.15em;
    line-height: 1.5em;
    margin: 0.5em 0;
  }

  .mdx-content :global(h2) {
    font-size: 1.5em;
    font-weight: 900;
    color: #FAA2F9;
  }

  .mdx-content :global(p) :global(strong) {
    font-size: 1.15em;
  }

  .mdx-content :global(img) {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
    border: solid 4px #FFFFFF;
  }
  
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>

