---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const pageTitle = 'About Me'

const identity = {
  Name: "Logan Manery",
  country: "Canada",
  occpation: "Software Engineer",
  hobbies: ["Programming", "Gaming", "Reading", "Podcasts", "Learning"],
  headers: ["About Me", "", "Experience", "Education", "Skills"],
  paragraphs: [
  "Hey there! I'm Logan from the vibrant city of Kitchener, ON. Born in the tech golden year of 1992 (when Windows 3.1 was the hottest thing around), I've evolved way faster than the floppy disk. Today, I'm a keen lifelong learner, swaying between the world of Python scripts and power tools. Just another day in the life of a tech enthusiast!",
  "While I'm old enough to remember the “dial-up internet” symphony, I'm young enough to know my JavaScript from my Java (one's essential for my web work, the other for my morning caffeine kick!). I proudly wear the badge of a Computer Programming student at Conestoga College. But wait, there's more! I'm not just about ones and zeros; I have some hands-on know-how with electrical systems. After all, you can't spell \"electric\" without \"elite\", right? ",
  "Currently, I'm the \"Bowling Machine Whisperer\" at Bingemans in Kitchener. I can convince a malfunctioning machine to behave with just a stern look...and sometimes a bit of mechanical wizardry. My past roles at Rockwell Automation and Brock Solutions saw me channeling my inner Tony Stark, minus the Iron Man suit, of course.",
  "From high school at Grand River Collegiate to now, I've had quite the academic tour. Dabbled in Electrical Engineering at Conestoga College, added a Google IT Support Professional Certificate to my trophy case, and now I'm leveling up with Computer Programming. With every new challenge, my motto remains: \"Just another bug to squash!\"",
  "Got a tech problem? There's a high chance I've got a tool (or code) for that! Whether it's wrangling databases with MongoDB, jazzing up websites with React, or going full detective mode on network security, I've got it covered. And if a machine acts up? Let's just say I know how to \"turn it off and on again\" with style. I converse fluently in tech and, of course, English. Looking for a \"Hello, World!\" in multiple programming languages? You're in for a treat! Wearing the Google IT Support Professional Certificate like a badge of honor. It's like getting a thumbs up from the tech giants themselves!",
],
  contactInfo: {
    address: "Kitchener, ON",
    email: "logan.j.manery@gmail.com"
  }
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js", "MongoDB", "SQL", "Python", "Java", "C++", "C#", "Git", "GitHub", "VS Code", "Linux", "Windows"]

const happy = true
const finished = false
const goal = 3
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <title>{pageTitle}</title>
	</head>
	<body class="flex flex-col bg-one">
    <Header />
    <h1>{identity.Name}</h1>
    {
    identity.headers.map((header, index) => (
      <h2>{header}</h2>
      <p>{identity.paragraphs[index]}</p>
    ))}
    {happy ? <p>I am happy to be learning Astro!</p> : <p>I am not happy to be learning Astro.</p>}
    {finished ? <p>I finished this tutorial!</p> : <p>I have not finished this tutorial.</p>}
    {goal === 3 ? <p>my goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    <h1>Contact Me</h1>
      <p>{identity.contactInfo.address}</p>
      <p>{identity.contactInfo.email}</p>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>